extends layout

block head
	meta(property='og:type' content='music.song')
	meta(property='og:description' content='sing-n-share')
	meta(property='og:url' content='https://ogtest-chiahao')
	meta(property='og:title' content=title)
	meta(property='og:image' content='http://myapp-chuangyuming.rhcloud.com/m4atest/53bbde7e108dc6e5251dbe1e_large.png')
	meta(property='og:image:secure_url' content='https://myapp-chuangyuming.rhcloud.com/m4atest/53bbde7e108dc6e5251dbe1e_large.png')
	meta(property='og:site_name' content=artisName)
	meta(property='og:video:height' content='360')
	meta(property='og:video:width' content='640')
	meta(property='og:video:type' content='application/x-shockwave-flash')
	meta(property='og:video' content='http://ogtest-chiahao.rhcloud.com/views/test.html')
	meta(property="og:video:secure_url" content="https://ogtest-chiahao.rhcloud.com/views/test.html")
	meta(property="fb:admins" content="100003217322730")
	meta(property="fb:app_id" content="326599994099864")

block content

